 html,body {
   width: 100%;
   height: 100%;
   padding: none;
   margin: 0;
 }
.leftSide {
   width: 50%;
   float: left;
}
.rightSide {
   width: 50%;
   height: 100%;
   float: left;
   
}
.rightSide img {
   width: 100%;
}
.displayText {
   background: #010101;
   height: 50%;
   width: 100%;
}
 #codeTextarea{
      width: 100%;
      height:95%;
   }
   #codeTextarea:focus {
      outline: none;
   }
   .textAreaWithLines{
      width: auto;
      font-family:courier;      
      border:1px solid #7f8c8d;
      
   }
   .textAreaWithLines textarea,.textAreaWithLines div{
      border:0px;
      line-height:120%;
      font-size:12px;
   }
   .lineObj{
      color:#2c3e50;
   }

   #submit {
      width: 100%;
      background: #ececec;
      border: none;
      box-shadow: 0px 0px 0px 1px #dcdcdc;
   }
